* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #394059;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.avatar {
    float: right;
    z-index: 1;
}

.shape {
    height: 0;
    width: 0;
    border-right: 700px solid red;
    border-left: 700px solid transparent;
    border-bottom: 700px solid transparent;
    border-top: 700px solid transparent;
    float: right;

    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
  }

header {
    padding: 20px;
    top: 0;
    position: sticky;
}

header .name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 300px;
}

header i {
    font-size: 30px; 
    color: red;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin: auto 15px;
}

header li a {
    text-decoration: none;
    color: #394059;
    font-weight: bold;
}

header li a:hover {
    text-decoration: none;
    color: #777;
}

.page {
    height: 100vh;
    margin: 0 auto;
}

.profile {
    height: 500px;
}

.profile h5{
    padding-top: 100px;
    font-weight: lighter;
    font-size: 20px;
    color: #394059;
}

.profile h1{
    margin: 20px 0;
    font-size: 50px;
}

.profile h3{
    margin: 10px 0;
    font-weight: lighter;
    font-size: 25px;
    color: red;
    padding-bottom: 10px;
}

.profile ul {
    margin-top: 50px;
    list-style: none;
}

.profile li {
    display: inline;
    margin: 0 10px;
    font-size: 30px;
}

.profile .work-btn{
    margin-top: 60px;
    padding: 15px 25px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(215,0,0,1) 0%, rgba(255,166,0,1) 100%);
    border: none;
}

.profile .work-btn:hover{
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(96,5,5,1) 0%, rgba(98,64,0,1) 100%);
}

.about {
    margin-top: 40px;
    font-weight: bold;
    font-size: 50px;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.card {
    margin-top: 40px;
    width: 300px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #333;
}

    .card:hover{
        box-shadow: 0px 0px 10px rgb(42, 116, 255);
    }

.card img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card .card-title {
    margin: 10px;
    text-align: center;
}

.view-btn a {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(53, 199, 53);
    color: #fff;
    text-decoration: none;
}

    .view-btn a:hover {
        background-color:rgb(25, 138, 25);
    }

.view-btn {
    display: flex;
    justify-content: center;
}